/* CSS HEX
--black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
white: #ffffffff;  
 */

/* CSS HSL 
 --back: hsla(0, 0%, 0%, 1);
--oxford-blue: hsla(221, 51%, 16%, 1);
--orange-web: hsla(37, 98%, 53%, 1);
--platinum: hsla(0, 0%, 90%, 1);
--white: hsla(0, 0%, 100%, 1); 
*/ 



@font-face {
    font-family: Geofont;
    src: url(../asset/Geostar_Fill/GeostarFill-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
overflow-wrap: break-word;
padding: 3px;
}
body{
    font-size: 0px;
    color: #000000ff ;
    background-color: #e5e5e5ff;
}

.title{
    background-color:#14213dff ;
    color: #fca311ff;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: large;
}

.testo{
    background-color:#fca311ff ;
    border: 2px solid #000000ff ;
    margin: 0 0 10px 0;
    padding: 0 0 15px 0;
    ;
}

.pino {

    width: 100%;

}

.pina {


    width: 100%;

}
ol{
    margin: 0 0 0 20px;
list-style-image: url(../asset/Maname/icons8-saturn-20.png);
}



.u {


    font-family: Geofont;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.yy {

    width: calc(25% - 8px);
    border: solid 2px;

    border: 4px solid black;
}

.inline {
    display: inline-block;
}
#cont{
    /* display: inline-block; */


padding:5px 0 0 5px;


}
.foot{
border-top: solid 2px black;

}
div{
margin: 0;
    font-size: 20px;
}
.footer{
    background-color:  #fca311ff;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
margin: 10px 0 0 0 ;
}

.a,.b,.c{
    margin: 0 20px 0 0;
}
